<strong>Olá, {{student}}</strong>
<p>Você acaba de ter sua pergunta respondida, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> {{question}} <br />
  <strong>Resposta: </strong> {{answer}} <br />
  <br />
  <small>
    Caso algo ainda não esteja claro para você, estamos a disposição!
  </small>
</p>
